apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ztai-portal
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - host: portal.example.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: ztai-portal
                port:
                  number: 8000
